
body {
    background-color: #ffe5b4; 
    font-family: 'Arial', sans-serif;
    color: #4a3f35;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fdac64;
    color: white;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

p {
    font-size: 1.2em;
}

.food-gallery {
    padding: 20px;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.food-item {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    max-width: 250px;
    transition: background-color 0.5s ease-in-out, transform 0.3s;
}
.food-item:hover {
    background-color: antiquewhite;
    transform: scale(1.1);
}
.flex-container1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.food-item2 {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    max-width: 250px;
    transition: background-color 0.5s ease-in-out, transform 0.3s;
}
.food-item2:hover {
    background-color: antiquewhite;
    transform: scale(1.1);
}
.food-image {
    width: 100%;
    height: auto;
    border-bottom: 5px solid white;
}

.food-description {
    font-weight: bold;
    padding: 10px;
    color: #d35400;
}

.featured-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d35400;
    padding: 40px 20px;
    gap: 200px;
}

.featured-item {
    max-width: 400px;
    text-align: center;
}

.featured-text {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
}

.video-section {
    text-align: center;
    padding: 40px;
    background-color: #fc9a59;
    color: white;
}

.video-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.video-item iframe {
    width: 100%;
    max-width: 560px;
    height: 315px;
    border-radius: 10px;
}
.button {
    height: 40px;
    width: 100px;
    background-color: black;
    color: white;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
}
.button2 {
    height: 40px;
    width: 100px;
    background-color: black;
    color: white;
    margin-bottom: 20px;    
}
footer {
    background-color: #a04000;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1em;
}
.navbar ul {
    list-style-type: none;
    background-color: #f09f08;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
  }
  
  .navbar {
    background-color: #f09f08;
    text-align: center;
    padding: 10px 0;
  }
  
  .navbar ul {
    display: inline-block;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
  }
  
  .navbar li {
    display: inline;
    margin: 0 10px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
  }
  
  .navbar a:hover {
    background-color: #ed9857;
  }
