.navbar ul {
    list-style-type: none;
    background-color: #f09f08;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
  }
  
  .navbar {
    background-color: #f09f08;
    text-align: center;
    padding: 10px 0;
  }
  
  .navbar ul {
    display: inline-block;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
  }
  
  .navbar li {
    display: inline;
    margin: 0 10px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
  }
  
  .navbar a:hover {
    background-color: #ed9857;
  }
#Welcome-div {
    width: auto;
    height: auto;
}
#Welcome {
    height: 100%;
    width: 100%;
}
#About-us {
  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: 700px;
}
#Top-Section {
  display: flex;
  gap: 30px;
  margin-bottom: 10px;
}
#Intro {
  justify-content: start;
  width: 700px;
  padding-top: 150px;
}
#Intro-Head {
  flex-direction: column;
  text-align: center;
}
#Intro-Text {
  text-align: center;
}
#Syrup-Div {
  height: 500px;
  width: 500px;
  padding-top: 50px;
}
#syrup {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
#body {
  background-color: #ffe3c5;
}
#Ending {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}
#Ending-Head {
  flex-direction: column;
  text-align: center;
}
#Ending-Text {
  text-align: center;
}
#Dinner {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
#Dinner-Div {
  margin-left: 350px;
  height: 500px;
  width: 600px;
  padding-top: 50px;
}
.section-divider {
  border: none;
  height: 4px;
  background-color: #ed9857;
  width: 90%;
  margin: 20px auto;
}
