h1{text-align: center;
    color: blue;
}
h2{text-align: center;
    color: aquamarine;
}
h3{text-align: center;
    color: aqua;
}
h4{text-align: center;
    color: cornflowerblue;
 }
h5{text-align: center;
color: darkblue;
 }

P {
    
    color: orangered;
    background-color:rgb(47, 109, 134);
    margin: 30xp;
    padding: 20xp;
    border: solid 2xp 
 }

body {
    background-color: rgb(247, 6, 43);
 }

#p1{
    color:blue;

 }

#p2{
    color:chartreuse;
    background-color: crimson;
 }

#p3{
    color:black;
 }

.apple{
     color:darkgrey
     font-size: 40xp;

 }
.orange{
    color: rgb(219, 234, 14);
    font-size: 60xp;   
 }

 .divOne h2 {
    border: solid 5xp blue 
    backgruond-color
 }
    
 

.divOne p {
    border: solid 15xp salmon;
    background-color: blueviolet;
    text-align: center;
}

.divOne {
  width:300px;
  height:200px;
  background-color: darkkhaki;

}

.divTwo {
    width:100px;
    height:100px;
    background-color: darkorchid;

}